*{
    border:1px solid rgba(0,0,0,0);
    box-sizing:border-box;
    font-family:sans-serif;
    background-color:white;
}

h1{
    text-align:center;
    font-size:400%;
    margin-bottom:0%;
    color: #272727;
}

h2{
    text-align:center;
    margin-top:0%;
    margin-bottom:2%;
    font-size:150%;
    color: #272727;
}

h3{
    text-align:center;
}

h4{
    text-align:center;
}

h6{
    text-align:center;
    margin-top:0%;
    color: grey;
}

#result{
    display:block;
    text-align:right;
    border: 1px solid #ccc;
    border-radius: 4px;
    height:20%;
    padding: 1% 2%;
    width:34.5%;
    margin:1% auto;
    font-size: 2em;
    color: #272727;
}

input[type=text]{
    width: 27.2%;
    padding: 1% 2%;
    margin:0.5% 0% 0.5% 0%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display:inline-block;
    text-align: right;
    align-items: center;
    font-size:1em;
    outline: none;
}

input[type=text]:focus {
    border:1px solid #82E0AA;
}

.divinp{
    display:inline-block;
    border: 1.5px solid #ccc;
    width:7%;
    margin-left:32.7%;
    padding: 1% 1%;
    border-radius: 4px;
    text-align:left;
    color: #272727;
    font-size:1em;
}

select {
    border: none;
    box-shadow: none;
    background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 90% center;
    -webkit-appearance: none ;
    -moz-appearance: none;
    appearance: none;
    font-size:1em;
    width:100%;  
}



.inp{
    display:inline;
    width:80%;
    margin:0;
    
}

.divbutton{
    padding-bottom: 2%;
}

#button{
    text-align: center;
    display:block;
    padding: 0.5% 1%;
    cursor: pointer;
    font-size: 1em;
    margin:1.5% auto 1.5% auto;
    font-weight:600;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    color:#272727;
}

.active{
    text-align: center;
    display:block;
    padding: 0.5% 1%;
    cursor: pointer;
    font-size: 1em;
    margin:1.5% auto 1.5% auto;
    font-weight:600;
    border: 1.5px solid green;
    border-radius: 4px;
}

.info{
    text-align: left;
    max-width: 50%;
    margin:auto;
    display:none;
    color:#272727;  
}

#exampleOne{
    display:none;
}

#exampleTwo{
    display:none;
}

.exampleButton{
    text-align: center;
    display:block;
    padding: 0.5% 1%;
    cursor: pointer;
    font-size: 1em;
    margin:5% auto 5% auto;
    font-weight:500;
    border: 1.5px solid #ccc;
    border-radius: 4px;
}

#disclaimer{
    font-size: 0.7em;
    max-width: 50%;
    margin:auto;
}